/*media queries*/
/*navbars*/
#navbar {
  display: grid;
  position: fixed;
  z-index: 9999;
  grid-template-columns: 1.5fr repeat(6, 1fr);
  width: 85%;
  height: 75px;
  background-color: #252523;
  justify-items: center;
  align-items: center;
  padding-left: 7.5%;
  padding-right: 7.5%; }
  @media (max-width: 767px) {
    #navbar {
      position: relative;
      grid-template-columns: 1fr;
      margin-bottom: -1px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      height: 0px;
      overflow: hidden; } }
  #navbar.isActive {
    height: 250px; }
  #navbar #navbar-title {
    font-family: "Lobster", serif;
    font-size: 30px;
    color: white;
    cursor: pointer; }
    @media (max-width: 767px) {
      #navbar #navbar-title {
        display: none; } }
  #navbar #navbar-tab {
    font-family: Verdana;
    font-size: 20px;
    color: #D6D4D4;
    cursor: pointer; }
    #navbar #navbar-tab:hover {
      color: #eae3e3; }

#mobile-navbar {
  display: none; }
  @media (max-width: 767px) {
    #mobile-navbar {
      display: grid;
      grid-template-columns: 75% 25%;
      align-items: center;
      width: auto;
      height: auto;
      margin-bottom: -1px;
      padding-left: 7.5%;
      padding-right: 7.5%;
      background-color: #252523; } }
  @media (max-width: 767px) {
    #mobile-navbar #mobile-navbar-title {
      font-family: "Lobster", serif;
      font-size: 24px;
      color: white;
      cursor: pointer; } }
  @media (max-width: 767px) {
    #mobile-navbar #mobile-navbar-collapse {
      width: 50px;
      height: 50px; } }
  @media (max-width: 767px) {
    #mobile-navbar #mobile-navbar-collapse #mobile-navbar-collapse-text {
      text-align: center;
      font-size: 17px;
      color: white;
      cursor: pointer; } }

/*filler navbar background for only tablet/desktop view*/
#navbar-background {
  width: auto;
  height: 100px;
  margin-bottom: -1px;
  background-color: #252523; }
  @media (max-width: 767px) {
    #navbar-background {
      display: none; } }

/*main body*/
html, body {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

#front-page-canvas {
  background-image: url("../rsrc/canvas_background.jpg");
  background-size: 100% 100%;
  width: auto;
  height: 90%;
  margin-bottom: -1px; }
  @media (max-width: 767px) {
    #front-page-canvas {
      height: 60%; } }
  #front-page-canvas #front-page-canvas-container {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 768px) and (max-width: 1023px) {
      #front-page-canvas #front-page-canvas-container {
        left: 55%; } }
    @media (max-width: 767px) {
      #front-page-canvas #front-page-canvas-container {
        left: 55%; } }
    #front-page-canvas #front-page-canvas-container #front-page-canvas-text {
      color: white;
      font-size: 32px;
      font-family: Verdana; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #front-page-canvas #front-page-canvas-container #front-page-canvas-text {
          font-size: 28px;
          width: 500px; } }
      @media (max-width: 767px) {
        #front-page-canvas #front-page-canvas-container #front-page-canvas-text {
          font-size: 24px;
          width: 200px; } }

#about-me {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: auto;
  height: auto;
  margin-bottom: -1px;
  padding-left: 15%;
  padding-right: 15%;
  background: #3F3640; }
  @media (min-width: 1024px) and (max-width: 1199px) {
    #about-me {
      grid-template-rows: 0.5fr 2fr 0.5fr; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #about-me {
      grid-template-rows: 0.5fr 2fr 0.25fr; } }
  @media (max-width: 767px) {
    #about-me {
      grid-template-rows: 0.5fr 2fr 0.25fr; } }
  #about-me #about-me-welcome {
    color: white;
    font-size: 48px;
    font-family: Verdana;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 50px; }
  #about-me #about-me-content #about-me-content-text {
    float: left;
    color: #EDEDED;
    width: 500px;
    font-size: 17px;
    font-family: "Lemon Sans"; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #about-me #about-me-content #about-me-content-text {
        float: none;
        width: auto; } }
    @media (max-width: 767px) {
      #about-me #about-me-content #about-me-content-text {
        float: none;
        width: auto; } }
  #about-me #about-me-content #about-me-content-image {
    float: left;
    margin-left: 50px;
    width: 250px;
    height: 250px; }
    @media (min-width: 1024px) and (max-width: 1199px) {
      #about-me #about-me-content #about-me-content-image {
        margin-left: 0px;
        width: 200px;
        height: 200px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #about-me #about-me-content #about-me-content-image {
        float: none;
        margin-left: -28.5px;
        width: 200px;
        height: 200px; } }
    @media (max-width: 767px) {
      #about-me #about-me-content #about-me-content-image {
        float: none;
        margin-left: -20px;
        width: 150px;
        height: 150px; } }
  #about-me #about-me-footer {
    align-self: center; }
    #about-me #about-me-footer #about-me-footer-download-resume {
      background-color: #EDEDED;
      border-radius: 5px;
      font-family: "Lemon Sans";
      border: none;
      height: 35px;
      cursor: pointer; }
      #about-me #about-me-footer #about-me-footer-download-resume:hover {
        background-color: #ddd7d7; }

#services {
  display: grid;
  grid-template-rows: 0.33fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  height: auto;
  margin-bottom: -1px;
  background-color: #EDEDED; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #services {
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 0.13fr 0.1fr repeat(6, 1fr); } }
  @media (max-width: 767px) {
    #services {
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 0.13fr 0.1fr repeat(6, 1fr); } }
  #services #services-title {
    text-align: center;
    font-family: "Lemon Sans";
    font-size: 56px;
    margin-bottom: 35px;
    margin-top: 50px;
    color: #3F3640; }
  #services #services-service-type {
    text-align: center;
    align-self: center;
    justify-self: center; }
    #services #services-service-type #services-service-type-title {
      font-size: 24px;
      font-family: "Lemon Sans"; }
    #services #services-service-type #services-service-type-text {
      color: #818181;
      width: 300px;
      font-family: "Times"; }

#skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 0.35fr 0.35fr;
  justify-items: center;
  width: auto;
  height: auto;
  margin-bottom: -1px;
  background-color: #3F3640; }
  @media (max-width: 767px) {
    #skills {
      height: auto;
      grid-template-rows: 0.05fr 0.05fr 0.05fr 0.35fr 0.35fr 0.35fr 0.35fr 0.35fr 0.35fr;
      grid-template-columns: 1fr; } }
  #skills #skills-title {
    text-align: center;
    font-family: "Lemon Sans";
    font-size: 56px;
    margin-bottom: 35px;
    margin-top: 50px;
    color: #EDEDED; }
  #skills #skills-skill-text {
    color: #EDEDED;
    font-size: 24px;
    font-family: "Lemon Sans";
    text-align: center; }
  #skills #skills-skill-python {
    margin-bottom: 15px; }

#projects {
  display: grid;
  grid-template-rows: 0.1fr 0.35fr;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: auto;
  height: auto;
  margin-bottom: -1px;
  background-color: #723F3C; }
  @media (min-width: 768px) and (max-width: 1023px) {
    #projects {
      grid-template-rows: 0.1fr 0.1fr 0.1fr 0.35fr 0.35fr 0.35fr;
      grid-template-columns: 1fr; } }
  @media (max-width: 767px) {
    #projects {
      grid-template-rows: 0.1fr 0.1fr 0.1fr 0.35fr 0.35fr 0.35fr;
      grid-template-columns: 1fr; } }
  #projects #projects-title {
    text-align: center;
    font-family: "Lemon Sans";
    font-size: 56px;
    margin-bottom: 35px;
    margin-top: 50px;
    color: #EDEDED; }
  #projects #projects-project {
    text-align: center; }
    #projects #projects-project #projects-project-title {
      font-size: 24px;
      color: #EDEDED;
      font-family: "Lemon Sans"; }
    #projects #projects-project #projects-project-text {
      color: #EDEDED;
      width: 300px;
      font-family: "Times"; }

/*footer*/
#google-maps {
  width: auto;
  height: 500px;
  margin-bottom: -1px; }

#contact {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  align-items: center;
  justify-items: center;
  width: auto;
  height: auto;
  margin-bottom: -1px;
  background-color: #3F3640;
  padding-right: 20%;
  padding-left: 20%; }
  @media (max-width: 767px) {
    #contact {
      padding-right: 0%;
      padding-left: 0%; } }
  #contact #contact-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      #contact #contact-icon {
        width: 45px;
        height: 45px; } }

#copyright {
  width: auto;
  height: auto;
  margin-bottom: -1px;
  padding: 5px;
  font-family: "Lemon Sans";
  text-align: center;
  background-color: #3F3640;
  color: white; }
  #copyright p {
    padding: 0;
    margin: 0;
    color: #EDEDED; }

/*remove animations in mobile/tablet view*/
@media (min-width: 768px) and (max-width: 1023px) {
  .animated {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    animation: none !important; } }
@media (max-width: 767px) {
  .animated {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    animation: none !important; } }

/*# sourceMappingURL=indexstyles.css.map */
